<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Author Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/authorDetails.css}"/> 
</head>
<body>
    <h2>Publications by <span th:text="${authorName}"></span></h2>

<!-- Loop through the grouped publications -->
<div th:each="group : ${groupedPublications}">
    <!-- Display the year -->
    <h3>Year: <span th:text="${group.year}"></span></h3>

    <!-- Loop through the publications for this year -->
    <ul>
        <li th:each="pub : ${group.publications}">
            [<span th:text="${pub.venueType}"></span>]
            <a th:href="${pub.link}" target="_blank">🔗</a>
            <span th:each="authorName, iterStat : ${pub.authors}">
                <span th:text="${authorName}"></span>
                <span th:if="${!iterStat.last}">, </span> 
            </span></br>
            <strong> <span th:text="${pub.title}"></span></strong>
            
            <hr/>
        </li>
    </ul>
</div>
</body>
</html>
