<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/author.css}"/> 
</head>
<body>
    <div class="sidebar">
        <h2><i class="fa-solid fa-graduation-cap"></i>BTP</h2>
        <nav>
            <a th:href="@{/home}"><i class="fas fa-home"></i> Home</a>
            <a th:href="@{/authors}" class="active"><i class="fa-solid fa-marker"></i> Author</a>
            <a th:href="@{/publication}"><i class="fas fa-book"></i> Publications</a>
            <a th:href="@{/venue}"><i class="fas fa-map-marker-alt"></i> Venue</a>
        </nav>
    </div>
    
    <div class="main-content">
        <div class="search-bar">
            <input type="text" placeholder="Search for authors...">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="alphabet-filter">
            <label for="jump-to">Jump to persons with last name prefix: </label>
            <input type="text" id="jump-to" placeholder="Enter letter...">
        </div>

        <div class="alphabet-nav">
            <a href="#">A</a><a href="#">B</a><a href="#">C</a><a href="#">D</a>
            <a href="#">E</a><a href="#">F</a><a href="#">G</a><a href="#">H</a>
            <a href="#">I</a><a href="#">J</a><a href="#">K</a><a href="#">L</a>
            <a href="#">M</a><a href="#">N</a><a href="#">O</a><a href="#">P</a>
            <a href="#">Q</a><a href="#">R</a><a href="#">S</a><a href="#">T</a>
            <a href="#">U</a><a href="#">V</a><a href="#">W</a><a href="#">X</a>
            <a href="#">Y</a><a href="#">Z</a>
        </div>
        
        
        <div class="author-list">
            <div class="author-list">
                <h2>Persons sorted by last name, starting from "A"</h2>
            </div>
            <ul>
                <li th:each="author : ${authors}">
                    <span th:text="${author.name}">Author Name</span>
                </li>
            </ul>
        </div>
        
    
    </div>
    
    <footer>
        <p>Copyright © BTP Website 2024</p>
    </footer>
</body>
</html>

