<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue Options</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/venue.css}">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>BTP</span>
        </div>
        <nav class="nav-links">
            <a th:href="@{/home}"><i class="fas fa-home"></i> Home</a>
            <a th:href="@{/authors}"><i class="fa-solid fa-marker"></i> Author</a>
            <a th:href="@{/publication}"><i class="fas fa-book"></i> Publications</a>
            <a th:href="@{/venue}"><i class="fas fa-map-marker-alt"></i> Venue</a>
        </nav>
    </header>
    
    <div class="main-content">
        
        <h1>Venue Options</h1>
        
        <div class="main-content">
            <h2>Book Chapter</h2><br>
            <div class="alphabet-nav">
                <a th:href="@{/venue/list(letter='A')}" th:classappend="${selectedLetter == 'A' ? 'active' : ''}">A</a>
                <a th:href="@{/venue/list(letter='B')}" th:classappend="${selectedLetter == 'B' ? 'active' : ''}">B</a>
                <a th:href="@{/venue/list(letter='C')}" th:classappend="${selectedLetter == 'C' ? 'active' : ''}">C</a>
                <a th:href="@{/venue/list(letter='D')}" th:classappend="${selectedLetter == 'D' ? 'active' : ''}">D</a>
                <a th:href="@{/venue/list(letter='E')}" th:classappend="${selectedLetter == 'E' ? 'active' : ''}">E</a>
                <a th:href="@{/venue/list(letter='F')}" th:classappend="${selectedLetter == 'F' ? 'active' : ''}">F</a>
                <a th:href="@{/venue/list(letter='G')}" th:classappend="${selectedLetter == 'G' ? 'active' : ''}">G</a>
                <a th:href="@{/venue/list(letter='H')}" th:classappend="${selectedLetter == 'H' ? 'active' : ''}">H</a>
                <a th:href="@{/venue/list(letter='I')}" th:classappend="${selectedLetter == 'I' ? 'active' : ''}">I</a>
                <a th:href="@{/venue/list(letter='J')}" th:classappend="${selectedLetter == 'J' ? 'active' : ''}">J</a>
                <a th:href="@{/venue/list(letter='K')}" th:classappend="${selectedLetter == 'K' ? 'active' : ''}">K</a>
                <a th:href="@{/venue/list(letter='L')}" th:classappend="${selectedLetter == 'L' ? 'active' : ''}">L</a>
                <a th:href="@{/venue/list(letter='M')}" th:classappend="${selectedLetter == 'M' ? 'active' : ''}">M</a>
                <a th:href="@{/venue/list(letter='N')}" th:classappend="${selectedLetter == 'N' ? 'active' : ''}">N</a>
                <a th:href="@{/venue/list(letter='O')}" th:classappend="${selectedLetter == 'O' ? 'active' : ''}">O</a>
                <a th:href="@{/venue/list(letter='P')}" th:classappend="${selectedLetter == 'P' ? 'active' : ''}">P</a>
                <a th:href="@{/venue/list(letter='Q')}" th:classappend="${selectedLetter == 'Q' ? 'active' : ''}">Q</a>
                <a th:href="@{/venue/list(letter='R')}" th:classappend="${selectedLetter == 'R' ? 'active' : ''}">R</a>
                <a th:href="@{/venue/list(letter='S')}" th:classappend="${selectedLetter == 'S' ? 'active' : ''}">S</a>
                <a th:href="@{/venue/list(letter='T')}" th:classappend="${selectedLetter == 'T' ? 'active' : ''}">T</a>
                <a th:href="@{/venue/list(letter='U')}" th:classappend="${selectedLetter == 'U' ? 'active' : ''}">U</a>
                <a th:href="@{/venue/list(letter='V')}" th:classappend="${selectedLetter == 'V' ? 'active' : ''}">V</a>
                <a th:href="@{/venue/list(letter='W')}" th:classappend="${selectedLetter == 'W' ? 'active' : ''}">W</a>
                <a th:href="@{/venue/list(letter='X')}" th:classappend="${selectedLetter == 'X' ? 'active' : ''}">X</a>
                <a th:href="@{/venue/list(letter='Y')}" th:classappend="${selectedLetter == 'Y' ? 'active' : ''}">Y</a>
                <a th:href="@{/venue/list(letter='Z')}" th:classappend="${selectedLetter == 'Z' ? 'active' : ''}">Z</a>
            </div>
            
        </div>
        <div class="venue-list">
            
            <ul>
                <li th:each="venue : ${bookChapter}">
                    <a th:href="@{'/venue/' + ${venue}}" th:text="${venue}"></a>
                </li>
            </ul>
            
        </div>
    </div>
    
    <footer>
        <p>Copyright © BTP Website 2024</p>
    </footer>
</body>
</html>
